[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DMwR2"]
	path = DMwR2
	url = https://github.com/ltorgo/dmwr2
[submodule "performanceEstimation"]
	path = performanceEstimation
	url = https://github.com/ltorgo/performanceestimation
